@{
    ViewBag.Title = "Главная страница";
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ИД</th>
        <th>Подразделение</th>
        <th>Ф.И.О.</th>
        <th>Телефон</th>
        <th>Эл. почта</th>
        <th>Должность</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="hidden">
</div>

<script type="text/javascript">
    $(document).ready(function() {
        query.doQuery("@Url.Action("GetData")", {
            success: function(data) {
                $.each(data, function(i, val) {
                    $("tbody").append("" +
                        "<tr>" +
                        "<td>" +
                            val.Id +
                        "</td>" +
                        "<td>" +
                            val.Unit +
                        "</td>" +
                        "<td>" +
                            val.Fio +
                        "</td>" +
                        "<td>" +
                            val.Phone +
                        "</td>" +
                        "<td>" +
                            val.Email +
                        "</td>" +
                        "<td>" +
                            val.Post +
                        "</td>" +
                        "</tr>");
                });
            }
        });
    });
</script>